<h1><%= @city.name() %></h1>

<h3>Select all trains who starred in this city:</h3>

<% if @trains.any?() %>
<form action="/cities/<%= @city.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <% @trains.each() do |train| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="train_ids[]" value="<%= train.id() %>"><%= train.name() %>
    </label>
  </div>
  <% end %>

  <button type="submit">Add trains</button>
</form>
<% end %>

<% if @city.trains().any?() %>

<h3>Here are all the trains in this city:</h3>

<ul>
  <% @city.trains().each() do |train| %>
  <li><%= train.name() %></li>
  <% end %>
</ul>
<% else %>
<p>There are no trains yet! <a href="/trains">Add trains here</a></p>
<% end %>


<a href="/">Return to Main Page</a>
