<h1><%= @train.name() %></h1>
<p><a href="/trains/<%= @train.id() %>/edit">Edit train</a></p>

<h3>Select all cities starring this train:</h3>

<% if @cities.any?() %>
<form action="/trains/<%= @train.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <% @cities.each() do |city| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="city_ids[]" value="<%= city.id() %>"><%= city.name() %>
    </label>
  <label for="stop_time">Select a time</label>
  <select id='stop_time' name='stop_time' type='text'>
    <option value="8:00"> 8:00am </option>


  </select>
</div>
  <% end %>

  <button type="submit">Add cities</button>
</form>
<% end %>


<% if @train.cities().any?() %>
<h3>This train stops at the following cities:</h3>

<ul>
  <% @train.cities().each() do |city| %>
  <li><%= city.name() %></li>
  <% end %>
</ul>
<% else %>
<p>There are no cities yet!</p>
<% end %>


<a href="/">Return to Main Page</a>
